body{
    color: rgb(56, 0, 0);
    background: rgb(206, 230, 206);
    margin: 0px;
    font-family: "BBH Sans Hegarty", sans-serif;
}

header{
    border-bottom: solid 2px rgb(134, 87, 87);
    padding: 20px;
    font-size: 32px;
    color: rgb(105, 92, 92);
}

section{
    background: rgb(255, 1, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}